<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">

    <!-- title -->
    <h1 class="mt-4">GuestBook Modify Page</h1>

    <!-- form -->
    <form action="/guestbook/modify" th:method="post"> <!--// 추가된 폼 태그 -->

      <!-- 페이지 번호 -->
      <input type="hidden" name="page" th:value="${requestDTO.page}">
      <input type="hidden" name="type" th:value="${requestDTO.type}">
      <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

      <div class="form-group">
        <label>번호</label>
        <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly> <!-- 수정 불가 -->
      </div>
      <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" name="title" th:value="${dto.title}"> <!-- 수정 가능 -->
      </div>
      <div class="form-group">
        <label>내용</label>
        <textarea name="content" rows="5" class="form-control">[[${dto.content}]]</textarea> <!-- 수정 가능 -->
      </div>
      <div class="form-group">
        <label>작성자</label>
        <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly> <!-- 수정 불가 -->
      </div>
      <div class="form-group">
        <label>작성일</label>
        <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
      </div>
      <div class="form-group">
        <label>수정일</label>
        <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
      </div>
    </form>
    <button type="button" class="btn btn-primary modifyBtn">수정</button>
    <button type="button" class="btn btn-info listBtn">글 목록</button>
    <button type="button" class="btn btn-danger removeBtn">삭제</button>
  </th:block>
</th:block>

<!-- modify.html 버튼 이벤트 처리 -->
<script th:inline="javascript">
  var actionForm = $("form"); // form 태그 객체

  // 삭제 버튼 이벤트
  $(".removeBtn").click(function(){
    if( !confirm("삭제하시겠습니까?")){return;}
    actionForm
      .attr("action", "/guestbook/remove") // 현재 form의 action 속성값을 무시하고 스크립트 내 값 실행
      .attr("method", "post");

      actionForm.submit();
  });

  // 수정 버튼 이벤트
  $(".modifyBtn").click(function(){
    if( !confirm("수정하시겠습니까?")){return};
    actionForm
      .attr("action", "/guestbook/modify")
      .attr("method", "post")
      .submit();
  });

  // 목록 버튼 이벤트
  $(".listBtn").click(function(){
    // var pageInfo = $("input[name='page']");
    var page = $("input[name='page']");
    var type = $("input[name='type']");
    var keyword = $("input[name='keyword']");

    actionForm.empty(); // form 태그의 모든 내용 삭제

    actionForm.append(page); // 목록 페이지 이동에 필요한 내용을 다시 추가
    actionForm.append(type);
    actionForm.append(keyword);

    actionForm
      .attr("action", "/guestbook/list")
      .attr("method", "get");

    actionForm.submit();
  });
</script>