<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- dto를 하나만 만들었을 때 출력 -->
    <!--
    <p th:text="${dtoTest.sno}"></p>
    <p th:text="${dtoTest.first}"></p>
    <p th:text="${dtoTest.last}"></p>
    <p th:text="${dtoTest.regTime}"></p>
    -->

    <!-- dto를 태그 속성이 아니라 태그 본문에 넣어서 출력 -->
    <!--
    <p>[[${dtoTest}]]</p>
    <hr>
    <p>[[${strTest}]]</p>
    <hr>
    -->

    <!-- Thymeleaf는 태그 본문에 쓰인 것보다 우선적으로 적용('문자열 연습중입니다'는 무시됨) -->
    <!--<p th:text="${strTest}">문자열 연습중입니다.</p>-->

    <!-- 지시: sno의 값이 5의 배수일 때만 출력하라 -->
    <!--<ul>
        <li th:each="dto, state : ${list}" th:if="${dto.sno % 5 == 0}">
            [[${dto}]]
        </li>
    </ul>-->

    <!-- dto 리스트 20개 출력-->
    <!--
    <ul>
        <li th:each="dto:${list}">[[${dto}]]</li>
    </ul>
    -->

    <!-- 지시: 각 항목의 index 번호를 출력하라 -->
    <!--
    <ul>
        <li th:each="dto, state : ${list}">
            [[${state.index}]] --- [[${dto}]]
        </li>
    </ul>
    -->

    <!-- 지시: (if/unless) sno가 5로 나눈 나머지가 0인 경우에는 sno만 출력하고 그렇지 않다면 SampleDTO의 first를 출력하라 -->
    <!--
    <ul>
       <li th:each="dto, state : ${list}">
           <span th:if="${dto.sno % 5 == 0}" th:text="${'------------------'+dto.sno}"></span>
           <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
       </li>
    </ul>
    -->

    <!-- 지시: (삼항연산자) sno가 5로 나눈 나머지가 0인 경우에는 sno만 출력하고 그렇지 않다면 SampleDTO의 first를 출력하라 -->
    <!--
    <ul>
        <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0}? ${dto.sno} : ${dto.first}"></li>
    </ul>
    -->

    <!-- 지시: sno를 5로 나눈 나머지가 0인 경우에만 특정한 CSS를 적용하라 -->
    <!--
    <style>
        .target{background:red;}
    </style>
    <ul>
        <li th:each="dto, state : ${list}" th:class="${dto.sno % 5 == 0} ? 'target'" th:text="${dto}"></li>
    </ul>
    -->

    <!-- 지시: 짝수일 때에는 배경색이 lightgray, 홀수일 때에는 yellow가 되도록 출력하라 -->
    <!--
    <style>
        .odd{background:yellow;}
        .even{background:lightgray;}
    </style>
    <ul>
        <li th:each="dto, state : ${list}" th:class="${state.odd} ? 'odd' : 'even'" th:text="${dto}"></li>
    </ul>
    -->

    <!-- 지시: 홀수 일 때는 sno를, 짝수일 때에는 first를 출력하라. -->
    <th:block th:each="dto, state : ${list}">
        <div th:text="${state.odd} ? ${dto.sno} : ${dto.first}"></div>
    </th:block>


</body>
</html>